<!-- Footer -->

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-muted">&copy;2015 SOCIALBLEND / public data together</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>