<h1>Home#get</h1>
<p>Find me in app/views/home/get.html.erb</p>
		<!-- Twitter widget
		
		<div class="col-md-4 portfolio-item">
			<div class="form-group">
		      <a class="twitter-timeline" href="https://twitter.com/gmandet" data-widget-id="584062039896756224">Tweets by @gmandet</a>
		      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
	     -->
